.container {
  width: 100%;
  max-width: 1120px;
  margin: 0 auto;
}

.content {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 3rem;

  strong {
    display: block;
    font-weight: 900;
    font-size: 1.5rem;
    color: var(--heading);
    margin-bottom: 0.5rem;
  }

  time {
    display: block;
    color: var(--Info);
    margin-right: 1.5rem;
    margin-left: 0.5rem;
  }

  aside {
    margin-top: 1.5rem;
    color: var(--Info);
    display: flex;
    align-items: center;

    & p {
      margin-left: 0.5rem;
    }
  }

  & + a {
    margin-top: 2rem;
  }

  button {
    color: var(--Highlight);
    background-color: transparent;
    border: none;
    font-weight: bold;
  }
}
